/* line 17, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_barra.scss */
.barra {
  background: #7F7F7F;
  height: 20px;
  padding: 4px 0 4px 10px;
  display: block;
  font-family: sans, sans-serif;
  text-decoration: none;
  color: white;
}

/*$claro : #2ECC71;
$escuro : #27AE60;*/
/* line 9, ../sass/_site.scss */
body {
  background-color: #2980b9;
  font-family: 'Lato', sans-serif;
}

/* line 14, ../sass/_site.scss */
a {
  color: #2980b9;
}

/* line 17, ../sass/_site.scss */
a:hover {
  color: #2980b9;
}

/* line 21, ../sass/_site.scss */
b {
  font-weight: bold;
}

/* line 25, ../sass/_site.scss */
p {
  padding: 5px 5px 5px 5px;
}

/* line 29, ../sass/_site.scss */
h3 {
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 36, ../sass/_site.scss */
.conteudo {
  background-color: white;
}

/* line 40, ../sass/_site.scss */
.titulo {
  color: #7f8c8d;
  font-size: 32px;
  padding: 17px 15px 17px 0px;
}

/* line 46, ../sass/_site.scss */
.texto {
  padding-top: 25px;
  color: #7f8c8d;
}

/* line 51, ../sass/_site.scss */
.fundo {
  background-color: #ecf0f1;
}

/* line 4, ../sass/_cabecalho.scss */
.logo {
  background-color: white;
  padding: 0 0 0 0;
}

/* line 9, ../sass/_cabecalho.scss */
.logotipo {
  height: 150px;
  padding: 10px 10px 10px 10px;
}

/* line 14, ../sass/_cabecalho.scss */
.banner {
  height: 150px;
  background-color: #3498db;
  background-image: url("../images/banner.png");
  padding: 0 0 0 0;
  position: relative;
  top: 0px;
  left: 0px;
}

/* line 24, ../sass/_cabecalho.scss */
.pesquisa {
  height: 50px;
  background-color: #7f8c8d;
}

/* line 28, ../sass/_cabecalho.scss */
div.pesquisa div {
  padding-top: 2px;
}

/* line 32, ../sass/_cabecalho.scss */
div.pesquisa span.input-group-addon {
  background-color: #3498db;
  color: white;
  border-color: #3498db;
}

/* line 38, ../sass/_cabecalho.scss */
.menu-horizontal {
  height: 50px;
  background-color: #bdc3c7;
}

/* line 43, ../sass/_cabecalho.scss */
.linha-moodle {
  height: 32px;
  margin-bottom: 5px;
}

/* line 48, ../sass/_cabecalho.scss */
.linha-form-moodle {
  height: 28px;
}

/* line 52, ../sass/_cabecalho.scss */
button.linha-form-moodle {
  padding-top: 3px;
}

/* line 56, ../sass/_cabecalho.scss */
.moodle {
  height: 150px;
  top: 0px;
  left: 0px;
  float: right;
}

/* line 64, ../sass/_cabecalho.scss */
.logo-moodle {
  height: 40px;
  padding-top: 5px;
  padding-bottom: 2px;
  text-align: center;
}

/* line 71, ../sass/_cabecalho.scss */
.form-moodle-mobile {
  margin-bottom: 65px;
}

/* line 75, ../sass/_cabecalho.scss */
.esqueci-senha {
  text-align: center;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

/* line 81, ../sass/_cabecalho.scss */
.esqueci-senha-mobile {
  margin-top: 5px;
}

/* line 85, ../sass/_cabecalho.scss */
li > a.sub-esqueci-senha:hover {
  background-color: #3498db;
  color: white;
}

/* line 90, ../sass/_cabecalho.scss */
.areas {
  height: 50px;
  border-right: 2px solid white;
  color: white;
  text-align: center;
}

/* line 97, ../sass/_cabecalho.scss */
.erro-login {
  text-align: center;
  margin: 0 0 0 0;
  border-radius: 0px;
}

/* line 1, ../sass/_menu.scss */
.menu {
  padding: 0 0 0 0;
  color: #2980b9;
  border-width: 0px;
}

/* line 7, ../sass/_menu.scss */
.nav > li {
  border-bottom: 1px solid #bdc3c7;
  border-left: 1px solid #bdc3c7;
  border-right: 1px solid #bdc3c7;
  background-color: white;
}

/* line 14, ../sass/_menu.scss */
li > a.visitado {
  background-color: #3498db;
  color: white;
}

/* line 19, ../sass/_menu.scss */
li > a.visitado:hover {
  background-color: #3498db;
  color: white;
}

/* line 24, ../sass/_menu.scss */
li.sessao {
  background-color: #2980b9;
  border: 0px;
}

/* line 29, ../sass/_menu.scss */
a.sessao {
  pointer-events: none;
  cursor: default;
  font-weight: bold;
  color: white;
}

/* line 36, ../sass/_menu.scss */
.navbar-header {
  padding: 0 0 0 0;
  background-color: #3498db;
  color: white;
}

/* line 42, ../sass/_menu.scss */
.navbar-toggle {
  background-color: #ddd;
}

/* line 46, ../sass/_menu.scss */
.navbar-default .navbar-brand {
  color: white;
}

/* line 50, ../sass/_menu.scss */
a[disabled] {
  pointer-events: none;
}

/* line 1, ../sass/_nead.scss */
.sobre {
  padding-bottom: 50px;
}

/* line 1, ../sass/_noticias.scss */
div.ultima-noticia {
  color: #7f8c8d;
  padding: 30px 20px 30px 20px;
}

/* line 6, ../sass/_noticias.scss */
a.ultima-noticia {
  color: #7f8c8d;
  font-size: 24px;
  text-decoration: none;
}

/* line 12, ../sass/_noticias.scss */
a.ultima-noticia:hover {
  color: #3498db;
  text-decoration: none;
}

/* line 17, ../sass/_noticias.scss */
h5.ultima-noticia {
  font-size: 14px;
  padding-top: 5px;
}

/* line 1, ../sass/_editais.scss */
.lista-ultimos-editais {
  padding-top: 30px;
  padding-bottom: 18px;
  color: #7f8c8d;
}

/* line 7, ../sass/_editais.scss */
.cabecalho {
  background-color: #3498db;
  color: white;
  font-weight: bold;
}

/* line 1, ../sass/_cursos.scss */
.logo-curso {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 6, ../sass/_cursos.scss */
img.logo-curso {
  width: 100%;
}

/* line 10, ../sass/_cursos.scss */
.curricular {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 1, ../sass/_polos.scss */
#map {
  height: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 7, ../sass/_polos.scss */
.mapa {
  width: 100%;
  height: 100%;
  float: left;
  clear: both;
  display: block;
  margin: 0 0 0 0;
}

/* line 16, ../sass/_polos.scss */
.mapa img {
  max-width: none;
}

/* line 20, ../sass/_polos.scss */
.mapa label {
  width: auto;
  display: inline;
}

/* line 1, ../sass/_rodape.scss */
.rodape {
  background-color: #bdc3c7;
  height: 60px;
}

/* line 6, ../sass/_rodape.scss */
.logos {
  text-align: center;
  float: right;
  padding-top: 5px;
}

/* line 12, ../sass/_rodape.scss */
.logo-rodape {
  width: 100%;
}

/* line 16, ../sass/_rodape.scss */
.logo-pronatec {
  padding-top: 10px;
}

#fb-root {
    display: none;
}

/* To fill the container and nothing else */
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
}
