div.ultima-noticia{
	color: $cinza-escuro;
	padding: 30px 20px 30px 20px;
}

a.ultima-noticia{
	color: $cinza-escuro;
	font-size: 24px;
	text-decoration: none;
}

	a.ultima-noticia:hover{
	color: $claro;
	text-decoration: none;
	}

h5.ultima-noticia{
	font-size:14px;
	padding-top:5px;
}
